<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/bd-hibernate-uno-a-uno</property>
		<property name="connection.username">myuser</property>
		<property name="connection.password"></property>
		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- en true muestra hql en consola-->
		<property name="show_sql">false</property>
		<!-- Mapeo Entidades -->
		<mapping resource="mapeo/cliente.hbm.xml"/>
		<mapping resource="mapeo/contacto.hbm.xml"/>
	</session-factory>
</hibernate-configuration>